build
node_modules
.DS_Store
.env
.next
.vercel
.vscode
.env.example
# Payload default media upload directory
data_only.sql
backup.dump
 


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
